### Importing libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Reading the data

In [2]:
df=pd.read_csv('btc_data.csv')
df.head()

,Date,priceUSD,transactions,size,sentbyaddress,difficulty,hashrate,mining_profitability,sentinusdUSD,transactionfeesUSD,...,price3rsiUSD,price7rsiUSD,price14rsiUSD,price30rsiUSD,price90rsiUSD,price3rocUSD,price7rocUSD,price14rocUSD,price30rocUSD,price90rocUSD
0,2010/07/17,0.0495,235,649.653,390,181.543,2.775561e+09,154298.0,1193.0,0.000010,...,0.000,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
1,2010/07/18,0.0726,248,765.285,424,181.543,1.554461e+09,401834.0,2620.0,0.000243,...,0.000,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
2,2010/07/19,0.0859,354,756.040,553,181.543,1.551287e+09,481473.0,4048.0,0.000022,...,0.000,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0
3,2010/07/20,0.0783,413,984.707,632,181.543,1.640430e+09,431831.0,2341.0,0.000000,...,82.751,0.0,0.0,0.0,0.0,58.099,0.0,0.0,0.0,0.0
4,2010/07/21,0.0767,256,542.483,440,181.543,1.723493e+09,460783.0,2122.0,0.000000,...,78.603,0.0,0.0,0.0,0.0,5.652,0.0,0.0,0.0,0.0

In [3]:
df_new=df.iloc[:,1:]

In [4]:
df_new

,priceUSD,transactions,size,sentbyaddress,difficulty,hashrate,mining_profitability,sentinusdUSD,transactionfeesUSD,median_transaction_feeUSD,...,price3rsiUSD,price7rsiUSD,price14rsiUSD,price30rsiUSD,price90rsiUSD,price3rocUSD,price7rocUSD,price14rocUSD,price30rocUSD,price90rocUSD
0,0.0495,235,649.653,390,1.815430e+02,2.775561e+09,154298.000,1.193000e+03,0.000010,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,0.0726,248,765.285,424,1.815430e+02,1.554461e+09,401834.000,2.620000e+03,0.000243,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,0.0859,354,756.040,553,1.815430e+02,1.551287e+09,481473.000,4.048000e+03,0.000022,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,0.0783,413,984.707,632,1.815430e+02,1.640430e+09,431831.000,2.341000e+03,0.000000,0.000,...,82.751,0.000,0.000,0.000,0.000,58.099,0.000,0.000,0.000,0.000
4,0.0767,256,542.483,440,1.815430e+02,1.723493e+09,460783.000,2.122000e+03,0.000000,0.000,...,78.603,0.000,0.000,0.000,0.000,5.652,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3483,9349.0000,340402,706867.000,433958,1.546610e+13,1.157542e+20,0.163,8.336367e+09,0.561000,0.221,...,93.577,80.644,73.588,64.882,54.040,10.430,7.538,6.497,26.536,1.663
3484,9394.0000,332402,704883.000,416980,1.546610e+13,1.253033e+20,0.148,1.365361e+10,0.555000,0.213,...,94.137,81.436,74.176,65.272,54.195,7.432,10.930,8.061,28.817,2.376
3485,9366.0000,334290,770486.000,398021,1.546610e+13,1.113635e+20,0.153,1.126273e+10,0.631000,0.270,...,87.140,79.116,73.100,64.815,54.082,3.505,11.368,5.611,29.412,0.800
3486,9393.0000,303573,650769.000,338567,1.546610e+13,1.201317e+20,0.149,7.668679e+09,0.541000,0.219,...,88.385,79.762,73.498,65.058,54.175,0.473,12.499,5.457,31.791,1.606
3487,9398.0000,290736,684127.000,257655,1.546610e+13,1.064910e+20,0.159,6.486338e+09,0.548000,0.206,...,88.689,79.897,73.576,65.104,54.192,0.041,11.011,6.081,29.624,1.220

### Checking for NULL values

In [5]:
df_new.isnull().values.any()

False

### Total number of missing values

In [6]:
df_new.isnull().sum()

priceUSD         0
transactions     0
size             0
sentbyaddress    0
difficulty       0
                ..
price3rocUSD     0
price7rocUSD     0
price14rocUSD    0
price30rocUSD    0
price90rocUSD    0
Length: 736, dtype: int64

### Printing column names with missing values

In [7]:
missed=pd.DataFrame()
missed['column']=df.columns
missed

            column
0             Date
1         priceUSD
2     transactions
3             size
4    sentbyaddress
..             ...
732   price3rocUSD
733   price7rocUSD
734  price14rocUSD
735  price30rocUSD
736  price90rocUSD

[737 rows x 1 columns]

### Finding percentage of missing values in each column

In [8]:
missed['percent'] = [round(100* df[col].isnull().sum() / len(df), 2) for col in df.columns]

missed = missed.sort_values('percent',ascending=False)
missed

                        column  percent
0                         Date      0.0
495   transactionvalue30stdUSD      0.0
486   transactionvalue90trxUSD      0.0
487    transactionvalue3momUSD      0.0
488    transactionvalue7momUSD      0.0
..                         ...      ...
248   mining_profitability7ema      0.0
249  mining_profitability14ema      0.0
250  mining_profitability30ema      0.0
251  mining_profitability90ema      0.0
736              price90rocUSD      0.0

[737 rows x 2 columns]

### Dropping the priceUSD column and storing it in 'y'

In [9]:
df1=df_new.reset_index(drop=True)
X=df1.drop('priceUSD',1)
X

C:\Users\KIIT\AppData\Local\Temp\ipykernel_5896\435521352.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X=df1.drop('priceUSD',1)

,transactions,size,sentbyaddress,difficulty,hashrate,mining_profitability,sentinusdUSD,transactionfeesUSD,median_transaction_feeUSD,confirmationtime,...,price3rsiUSD,price7rsiUSD,price14rsiUSD,price30rsiUSD,price90rsiUSD,price3rocUSD,price7rocUSD,price14rocUSD,price30rocUSD,price90rocUSD
0,235,649.653,390,1.815430e+02,2.775561e+09,154298.000,1.193000e+03,0.000010,0.000,8.324,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,248,765.285,424,1.815430e+02,1.554461e+09,401834.000,2.620000e+03,0.000243,0.000,8.372,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,354,756.040,553,1.815430e+02,1.551287e+09,481473.000,4.048000e+03,0.000022,0.000,8.276,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,413,984.707,632,1.815430e+02,1.640430e+09,431831.000,2.341000e+03,0.000000,0.000,7.956,...,82.751,0.000,0.000,0.000,0.000,58.099,0.000,0.000,0.000,0.000
4,256,542.483,440,1.815430e+02,1.723493e+09,460783.000,2.122000e+03,0.000000,0.000,6.957,...,78.603,0.000,0.000,0.000,0.000,5.652,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3483,340402,706867.000,433958,1.546610e+13,1.157542e+20,0.163,8.336367e+09,0.561000,0.221,9.000,...,93.577,80.644,73.588,64.882,54.040,10.430,7.538,6.497,26.536,1.663
3484,332402,704883.000,416980,1.546610e+13,1.253033e+20,0.148,1.365361e+10,0.555000,0.213,9.231,...,94.137,81.436,74.176,65.272,54.195,7.432,10.930,8.061,28.817,2.376
3485,334290,770486.000,398021,1.546610e+13,1.113635e+20,0.153,1.126273e+10,0.631000,0.270,10.000,...,87.140,79.116,73.100,64.815,54.082,3.505,11.368,5.611,29.412,0.800
3486,303573,650769.000,338567,1.546610e+13,1.201317e+20,0.149,7.668679e+09,0.541000,0.219,9.536,...,88.385,79.762,73.498,65.058,54.175,0.473,12.499,5.457,31.791,1.606
3487,290736,684127.000,257655,1.546610e+13,1.064910e+20,0.159,6.486338e+09,0.548000,0.206,10.070,...,88.689,79.897,73.576,65.104,54.192,0.041,11.011,6.081,29.624,1.220

In [10]:
y=df1[['priceUSD']]
y

       priceUSD
0        0.0495
1        0.0726
2        0.0859
3        0.0783
4        0.0767
...         ...
3483  9349.0000
3484  9394.0000
3485  9366.0000
3486  9393.0000
3487  9398.0000

[3488 rows x 1 columns]

### Applying dimensionality reduction

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(df_new)
data_scaled=scaler.transform(df_new)

In [12]:
from sklearn.decomposition import PCA
pca=PCA(n_components=0.95)
pca.fit(data_scaled)
principalComponents=pca.transform(data_scaled)

In [13]:
principalComponents.shape

(3488, 38)

In [14]:
principalDf = pd.DataFrame(data = principalComponents)

In [15]:
principalDf

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,-3.655104,0.802061,1.817268,-1.285273,-1.640494,1.700293,-1.001414,1.101779,-0.999867,0.152710,...,-0.183947,0.153301,-0.027586,0.225252,0.007899,0.170539,0.097393,0.146309,0.208756,1.173401
1,-3.614658,0.803416,1.686412,-1.009045,-1.609771,1.699671,-0.747059,1.416030,-0.615753,0.506121,...,-0.079477,0.261052,-0.121278,0.115798,0.108756,0.043790,0.147877,0.246103,0.141600,1.104297
2,-3.636358,0.825494,1.710698,-1.048296,-1.626373,1.841579,-0.698989,1.496502,-0.499075,0.612378,...,-0.046327,0.356758,-0.111855,0.145736,-0.008782,0.276770,0.029030,0.211571,0.214689,0.931091
3,-3.641610,0.745754,1.603314,-1.195112,-0.952689,1.644297,-0.151961,1.282045,-0.588409,0.833923,...,-0.043600,0.360500,0.076649,0.157377,-0.213748,0.256696,0.187187,0.140654,0.291811,0.537814
4,-3.646880,0.760457,1.639556,-1.193579,-1.102717,1.673044,-0.434564,1.083872,-0.812450,0.726314,...,-0.076637,0.285444,0.095544,0.122837,-0.236417,0.286961,0.041868,0.133825,0.244540,0.446112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3483,4.827080,3.872729,-0.564335,-0.964944,0.955012,-0.208703,-0.160729,0.079293,-0.353848,0.195394,...,0.087267,0.004526,0.315107,-0.007492,0.132500,0.265255,0.171378,-0.052400,0.188256,0.122504
3484,4.874243,4.078286,-0.498325,-1.028046,0.857928,-0.213927,-0.295887,0.083715,-0.351354,0.203269,...,0.062440,-0.087225,0.475346,-0.080046,-0.166548,0.307902,0.089965,0.003772,0.139277,0.202801
3485,4.873536,3.950721,-0.594500,-0.959722,1.011089,-0.306760,-0.063507,0.463026,-0.061280,0.456087,...,0.142482,-0.133529,0.307913,-0.229377,0.031294,0.255388,-0.049842,0.003653,0.269696,0.125988
3486,4.822283,4.116169,-0.434845,-0.844725,0.491708,-0.136111,-0.857335,0.091674,-0.184611,0.583483,...,0.001812,-0.138564,0.315845,-0.106430,0.072532,0.355768,0.043088,-0.011649,0.177111,0.143189
3487,4.781473,4.086459,-0.413840,-0.719069,0.451225,-0.145129,-0.835111,0.209077,0.051204,0.802018,...,-0.078453,-0.252241,0.203734,-0.005977,0.298842,0.464687,0.020750,-0.004168,0.162576,-0.000135

In [16]:
principalDf.to_csv('PCA_MinMaxScaler_data1.csv')

In [19]:
dataset=pd.read_csv('PCA_MinMaxScaler_data1.csv')
dataset.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,28,29,30,31,32,33,34,35,36,37
0,0,-3.655104,0.802061,1.817268,-1.285273,-1.640494,1.700293,-1.001414,1.101779,-0.999867,...,-0.183947,0.153301,-0.027586,0.225252,0.007899,0.170539,0.097393,0.146309,0.208756,1.173401
1,1,-3.614658,0.803416,1.686412,-1.009045,-1.609771,1.699671,-0.747059,1.416030,-0.615753,...,-0.079477,0.261052,-0.121278,0.115798,0.108756,0.043790,0.147877,0.246103,0.141600,1.104297
2,2,-3.636358,0.825494,1.710698,-1.048296,-1.626373,1.841579,-0.698989,1.496502,-0.499075,...,-0.046327,0.356758,-0.111855,0.145736,-0.008782,0.276770,0.029030,0.211571,0.214689,0.931091
3,3,-3.641610,0.745754,1.603314,-1.195112,-0.952689,1.644297,-0.151961,1.282045,-0.588409,...,-0.043600,0.360500,0.076649,0.157377,-0.213748,0.256696,0.187187,0.140654,0.291811,0.537814
4,4,-3.646880,0.760457,1.639556,-1.193579,-1.102717,1.673044,-0.434564,1.083872,-0.812450,...,-0.076637,0.285444,0.095544,0.122837,-0.236417,0.286961,0.041868,0.133825,0.244540,0.446112

### Converting dataframe to RDD

In [20]:
rdd=dataset.rdd

AttributeError: 'DataFrame' object has no attribute 'rdd'

In [25]:
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("bert-base-cased")


def tokenize_function(examples):
    return tokenizer(examples["y"], padding="max_length", truncation=True)


tokenized_datasets = dataset.map(tokenize_function, batched=True)

AttributeError: 'DataFrame' object has no attribute 'map'

In [23]:
small_train_dataset = tokenized_datasets["train"].shuffle(seed=42).select(range(1000))
small_eval_dataset = tokenized_datasets["test"].shuffle(seed=42).select(range(1000))

NameError: name 'tokenized_datasets' is not defined

In [ ]:
from transformers import AutoModelForSequenceClassification

model = AutoModelForSequenceClassification.from_pretrained("bert-base-cased", num_labels=5)

In [ ]:
from transformers import TrainingArguments

training_args = TrainingArguments(output_dir="test_trainer")

In [ ]:
import numpy as np
import evaluate

metric = evaluate.load("accuracy")

### Transformers models return logits:

In [ ]:
def compute_metrics(eval_pred):
    logits, labels = eval_pred
    predictions = np.argmax(logits, axis=-1)
    return metric.compute(predictions=predictions, references=labels)

In [ ]:
from transformers import TrainingArguments, Trainer

training_args = TrainingArguments(output_dir="test_trainer", evaluation_strategy="epoch")

In [ ]:
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=small_train_dataset,
    eval_dataset=small_eval_dataset,
    compute_metrics=compute_metrics,
)

In [ ]:
trainer.train()