In [ ]:
import pandas as pd
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PowerTransformer,MinMaxScaler,StandardScaler, RobustScaler
from sklearn.metrics import confusion_matrix, recall_score, accuracy_score, precision_score, classification_report

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras import Model, Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from tensorflow.keras.losses import MeanSquaredLogarithmicError

In [ ]:
data = pd.read_csv(r"C:\Users\Z004J6JZ\HPFF\5june2022\latenttransformation\FeederB\Master_HPFF_2015-2019_v1_Feeder00B.csv")
data.head()

,Unnamed: 0,RJB C2 Sub1 00B Load A,RJB C2 Sub1 00B Load B,RJB C2 Sub1 00B Load C,RTU 6 RJB_J2 Sub2 00B Load A,RTU 6 RJB_J2 Sub2 00B Load B,RTU 6 RJB_J2 Sub2 00B Load C,Sub1FM 00B: Oil Press,Sub1 00B Line Press (After BPC),RTU 6 Sub2FM 00B: Oil Press,...,RTU 6 OPTO N2 Pressure,DateTime,Date,Time,isweekend,Holiday,Timing,Annotated_Leak,Estimated_Leak_Start,Actual_Leak_End
0,0,409,410,402,410,416,444,248.0,247.0,236.0,...,4.9,2015-01-01 00:00:00,1/1/2015,0:00:00,0,1,MidNight,0,0,0
1,1,393,393,391,400,407,402,243.0,244.0,231.0,...,4.9,2015-01-01 00:10:00,1/1/2015,0:10:00,0,1,MidNight,0,0,0
2,2,406,406,400,405,411,404,238.0,237.0,226.0,...,4.9,2015-01-01 00:20:00,1/1/2015,0:20:00,0,1,MidNight,0,0,0
3,3,397,397,394,404,410,405,232.0,232.0,221.0,...,4.9,2015-01-01 00:30:00,1/1/2015,0:30:00,0,1,MidNight,0,0,0
4,4,397,397,391,401,407,401,226.0,226.0,214.0,...,4.9,2015-01-01 00:40:00,1/1/2015,0:40:00,0,1,MidNight,0,0,0

In [ ]:
label = data['Annotated_Leak']

In [ ]:
data['DateTime'] = pd.to_datetime(data['DateTime'])

In [ ]:
data['year'] = pd.DatetimeIndex(data['DateTime']).year

In [ ]:
year = data['year']

In [ ]:
data =data.drop(['DateTime',"Time","Date","Timing","Estimated_Leak_Start","Actual_Leak_End",'Annotated_Leak','year'], axis=1)

In [ ]:
scaler = PowerTransformer(method="yeo-johnson")
data_scaled =scaler.fit_transform(data.copy())

In [ ]:
type(data_scaled)

In [ ]:
data_scaled.shape

In [ ]:
data_scaled

In [ ]:
class Encoder(Model):


  def __init__(self):
    super().__init__()
    self.encoder = Sequential([
      Dense(33, activation='relu'),
      Dense(28, activation='relu'),
      Dense(24, activation='relu'),
      Dense(20, activation='relu'),
      Dropout(0.2),
      Dense(16, activation='relu'),
      Dense(12, activation='relu'),
      Dense(8, activation='relu')
    ])
  def call(self, inputs):
    encoded = self.encoder(inputs)
    return encoded

In [ ]:
model = Encoder()
# configurations of model
model.compile(loss='msle', metrics=['mse'], optimizer='adam')

In [ ]:
latent_df = model.call(data_scaled)

In [ ]:
# latent_df.shape
type(latent_df)

In [ ]:
latentdim_df = pd.DataFrame(latent_df.numpy())

In [ ]:
latentdim_df.shape

In [ ]:
latentdim_df

In [ ]:
latentdim_df['label'] = label

In [ ]:
latentdim_df['year'] = year

In [ ]:
latentdim_df

In [ ]:
latentdim_df.to_csv("latentdata__yeojohnsontransformation.csv")

In [ ]:
df = pd.read_csv("HPFF_new_dataframe_after_zero_checking.csv")

In [ ]:
df1=df

In [ ]:
df1 =df1.drop(['DateTime',"Time","Date","Timing","Estimated_Leak_Start","Actual_Leak_End"], axis=1)

In [ ]:
df1

,RJB C1 Sub1 00A Load A,RJB C1 Sub1 00A Load B,RJB C1 Sub1 00A Load C,RTU 6 RJB_J1 Sub2 00A Load A,RTU 6 RJB_J1 Sub2 00A Load B,RTU 6 RJB_J1 Sub2 00A Load C,Sub1 FM 00A: Oil Press,Sub1 00A Line Press (After BPC),RTU 6 Sub2 00A: Oil Press,Sub1FM 00A: Flow,...,RTU 6 Sub2FM 00B: Flow,RTU 6 Sub2FM 00B: Oil Temp,Fdr 00B Meas Total Flow Volume,MAC:TankN2BlanketPress 42108,RTU 6 OPTO Tank Level 1,RTU 6 OPTO Tank Level 2,RTU 6 OPTO N2 Pressure,Annotated_Leak,isweekend,Holiday
0,392,390,395,411,409,407,243.0,242.0,230.0,1518,...,21.0,19.0,69.0,7.5,1431.0,1577.0,4.9,0,0,1
1,382,379,373,391,389,385,238.0,238.0,226.0,1518,...,21.0,17.8,69.0,7.5,1429.0,1577.0,4.9,0,0,1
2,395,392,387,402,398,393,232.0,232.0,220.0,1518,...,21.0,17.7,69.0,7.5,1429.0,1577.0,4.9,0,0,1
3,391,388,383,396,394,392,227.0,226.0,214.0,1518,...,21.0,17.3,69.0,7.5,1431.0,1577.0,4.9,0,0,1
4,389,386,381,393,390,390,221.0,221.0,208.0,1518,...,21.0,17.0,69.0,7.5,1429.0,1577.0,4.9,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262939,72,71,72,157,155,156,241.0,239.0,228.0,5235,...,1779.0,8.3,15.0,8.3,1376.0,1189.0,4.7,0,0,0
262940,56,56,56,104,103,103,240.0,239.0,227.0,5235,...,1779.0,9.3,15.0,8.3,1375.0,1188.0,4.7,0,0,0
262941,46,45,53,83,81,87,239.0,238.0,226.0,5235,...,1779.0,7.6,15.0,8.3,1375.0,1188.0,4.7,0,0,0
262942,63,62,61,94,94,90,238.0,237.0,225.0,5235,...,1779.0,8.5,15.0,8.3,1375.0,1189.0,4.7,0,0,0
262943,48,47,46,88,88,89,237.0,236.0,224.0,5235,...,1779.0,8.1,15.0,8.3,1375.0,1189.0,4.7,0,0,0

In [ ]:
X = df1
X.columns

Index([' RJB C1 Sub1 00A Load A', ' RJB C1 Sub1 00A Load B',
       ' RJB C1 Sub1 00A Load C', ' RTU 6 RJB_J1 Sub2 00A Load A',
       ' RTU 6 RJB_J1 Sub2 00A Load B', ' RTU 6 RJB_J1 Sub2 00A Load C',
       ' Sub1 FM 00A: Oil Press', ' Sub1 00A Line Press (After BPC)',
       ' RTU 6 Sub2 00A: Oil Press', ' Sub1FM 00A: Flow',
       ' RTU 6 Sub2FM 00A: Flow', ' Sub1FM 00A: Oil Temp',
       ' RTU 6 Sub2FM 00A: Oil Temp', ' Fdr 00A Meas Total Flow Volume',
       ' RJB C2 Sub2 00B Load A', ' RJB C2 Sub2 00B Load B',
       ' RJB C2 Sub2 00B Load C', ' RTU 6 RJB_J2 Sub2 00B Load A',
       ' RTU 6 RJB_J2 Sub2 00B Load B', ' RTU 6 RJB_J2 Sub2 00B Load C',
       ' SubFM 00B Oil Press', ' Sub2 00B Line Press (After BPC)',
       ' RTU 6 Sub2FM 00B Oil Press', ' Sub2FM 00B: Flow',
       ' RTU 6 Sub2FM 00B: Flow', ' RTU 6 Sub2FM 00B: Oil Temp',
       ' Fdr 00B Meas Total Flow Volume', ' MAC:TankN2BlanketPress 42108',
       ' RTU 6 OPTO Tank Level 1', ' RTU 6 OPTO Tank Level 2',
       ' RTU 6 OPTO N2 Pressure', 'Annotated_Leak', 'isweekend', 'Holiday'],
      dtype='object')

In [ ]:
X.shape

(262944, 34)

In [ ]:
X

,RJB C1 Sub1 00A Load A,RJB C1 Sub1 00A Load B,RJB C1 Sub1 00A Load C,RTU 6 RJB_J1 Sub2 00A Load A,RTU 6 RJB_J1 Sub2 00A Load B,RTU 6 RJB_J1 Sub2 00A Load C,Sub1 FM 00A: Oil Press,Sub1 00A Line Press (After BPC),RTU 6 Sub2 00A: Oil Press,Sub1FM 00A: Flow,...,RTU 6 Sub2FM 00B: Flow,RTU 6 Sub2FM 00B: Oil Temp,Fdr 00B Meas Total Flow Volume,MAC:TankN2BlanketPress 42108,RTU 6 OPTO Tank Level 1,RTU 6 OPTO Tank Level 2,RTU 6 OPTO N2 Pressure,Annotated_Leak,isweekend,Holiday
0,392,390,395,411,409,407,243.0,242.0,230.0,1518,...,21.0,19.0,69.0,7.5,1431.0,1577.0,4.9,0,0,1
1,382,379,373,391,389,385,238.0,238.0,226.0,1518,...,21.0,17.8,69.0,7.5,1429.0,1577.0,4.9,0,0,1
2,395,392,387,402,398,393,232.0,232.0,220.0,1518,...,21.0,17.7,69.0,7.5,1429.0,1577.0,4.9,0,0,1
3,391,388,383,396,394,392,227.0,226.0,214.0,1518,...,21.0,17.3,69.0,7.5,1431.0,1577.0,4.9,0,0,1
4,389,386,381,393,390,390,221.0,221.0,208.0,1518,...,21.0,17.0,69.0,7.5,1429.0,1577.0,4.9,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262939,72,71,72,157,155,156,241.0,239.0,228.0,5235,...,1779.0,8.3,15.0,8.3,1376.0,1189.0,4.7,0,0,0
262940,56,56,56,104,103,103,240.0,239.0,227.0,5235,...,1779.0,9.3,15.0,8.3,1375.0,1188.0,4.7,0,0,0
262941,46,45,53,83,81,87,239.0,238.0,226.0,5235,...,1779.0,7.6,15.0,8.3,1375.0,1188.0,4.7,0,0,0
262942,63,62,61,94,94,90,238.0,237.0,225.0,5235,...,1779.0,8.5,15.0,8.3,1375.0,1189.0,4.7,0,0,0
262943,48,47,46,88,88,89,237.0,236.0,224.0,5235,...,1779.0,8.1,15.0,8.3,1375.0,1189.0,4.7,0,0,0

In [ ]:
Y = df1['Annotated_Leak']

In [ ]:
Y

0         0
1         0
2         0
3         0
4         0
         ..
262939    0
262940    0
262941    0
262942    0
262943    0
Name: Annotated_Leak, Length: 262944, dtype: int64

In [ ]:
nb_epoch = 100
batch_size = 32
input_dim = X.shape[1] #num of columns, 30
learning_rate = 1e-4

In [ ]:
input_dim

34

In [ ]:
class Encoder(Model):


  def __init__(self):
    super().__init__()
    self.encoder = Sequential([
      Dense(34, activation='relu'),
      Dense(28, activation='relu'),
      Dense(24, activation='relu'),
      Dense(20, activation='relu'),
      Dropout(0.2),
      Dense(16, activation='relu'),
      Dense(12, activation='relu'),
      Dense(8, activation='relu')
    ])
  def call(self, inputs):
    encoded = self.encoder(inputs)
    return encoded

In [ ]:
class Encoder2(Model):


  def __init__(self):
    super().__init__()
    self.encoder = Sequential([
      Dense(34, activation='relu'),
      Dense(28, activation='relu'),
      Dense(24, activation='relu'),
      Dense(20, activation='relu'),
      Dense(16, activation='relu'),
      Dense(12, activation='relu'),
      Dense(8, activation='relu')
    ])
  def call(self, inputs):
    encoded = self.encoder(inputs)
    return encoded

In [ ]:
model = Encoder()
model.compile(loss='msle', metrics=['mse'], optimizer='adam')

In [ ]:
model = Encoder2()
model.compile(loss='msle', metrics=['mse'], optimizer='adam')

In [ ]:
X_array = X.to_numpy()

In [ ]:
latent_df = model.call(X_array)

In [ ]:
latent_df

<tf.Tensor: shape=(262944, 8), dtype=float32, numpy=
array([[  0.       ,  11.308414 ,   0.       , ...,  12.1899395,
          0.       ,   0.       ],
       [  0.       ,  10.336906 ,   0.       , ...,  10.377612 ,
          0.       ,   0.       ],
       [  0.       ,  10.437071 ,   0.       , ...,  10.327336 ,
          0.       ,   0.       ],
       ...,
       [  8.093915 , 126.13467  ,  25.419893 , ...,  78.18534  ,
         16.984013 ,  43.794384 ],
       [  7.928234 , 126.08119  ,  25.095491 , ...,  77.84608  ,
         16.14665  ,  43.00894  ],
       [  8.069991 , 125.908035 ,  25.686073 , ...,  77.89924  ,
         16.788954 ,  43.929573 ]], dtype=float32)>

In [ ]:
type(latent_df)

tensorflow.python.framework.ops.EagerTensor

In [ ]:
latentdim_df = pd.DataFrame(latent_df.numpy())

In [ ]:
latentdim_df.shape

(262944, 8)

In [ ]:
latentdim_df

,0,1,2,3,4,5,6,7
0,92.555084,0.0,29.994852,314.184143,107.378006,32.806599,218.983047,0.0
1,89.518539,0.0,31.384470,311.609192,107.403244,33.487213,216.923416,0.0
2,90.481415,0.0,29.771057,311.503082,107.031387,33.572002,216.950287,0.0
3,89.473793,0.0,29.710506,309.951385,106.654884,33.754971,215.762711,0.0
4,89.337166,0.0,29.880095,308.766052,106.460541,33.670673,215.120514,0.0
...,...,...,...,...,...,...,...,...
262939,148.732101,0.0,191.058975,772.470154,273.352051,91.286240,529.314392,0.0
262940,145.837006,0.0,192.786865,763.259399,271.763336,91.948868,524.247375,0.0
262941,145.222504,0.0,193.278259,759.368896,271.842712,92.905930,522.828552,0.0
262942,145.534195,0.0,192.728317,761.407288,271.972626,92.633781,523.588257,0.0
262943,144.638885,0.0,192.959106,760.161011,271.466705,92.560616,522.653687,0.0

In [ ]:
latentdim_df['label'] = Y

In [ ]:
latentdim_df

,0,1,2,3,4,5,6,7,label
0,92.555084,0.0,29.994852,314.184143,107.378006,32.806599,218.983047,0.0,0
1,89.518539,0.0,31.384470,311.609192,107.403244,33.487213,216.923416,0.0,0
2,90.481415,0.0,29.771057,311.503082,107.031387,33.572002,216.950287,0.0,0
3,89.473793,0.0,29.710506,309.951385,106.654884,33.754971,215.762711,0.0,0
4,89.337166,0.0,29.880095,308.766052,106.460541,33.670673,215.120514,0.0,0
...,...,...,...,...,...,...,...,...,...
262939,148.732101,0.0,191.058975,772.470154,273.352051,91.286240,529.314392,0.0,0
262940,145.837006,0.0,192.786865,763.259399,271.763336,91.948868,524.247375,0.0,0
262941,145.222504,0.0,193.278259,759.368896,271.842712,92.905930,522.828552,0.0,0
262942,145.534195,0.0,192.728317,761.407288,271.972626,92.633781,523.588257,0.0,0
262943,144.638885,0.0,192.959106,760.161011,271.466705,92.560616,522.653687,0.0,0

In [ ]:
latentdim_df.to_csv("latentdata-withouttransformation.csv")